<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>じゃんけん</title>
</head>

<body>
    <h1>相手の手を待っています</h1>
    Hi <div sec:authentication="name" style="display: inline;"></div>
</body>

<script>
    window.onload = function () {
        var sse = new EventSource('./check?id='+[[${opponent.id}]]);
        sse.onmessage = function (event) {
            var data = JSON.parse(event.data);//JSONオブジェクトとしてparse
            if (data["is_active"] === true) {
                document.body.insertAdjacentHTML('beforeend', '<a href="/lec02">結果を見る</a>');
                sse.close();
            }
        }
    }
</script>

</html>